/* .NET styles... review! */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}
/* END .NET styles... review! */

@font-face {
    font-family: 'Archer book';
    src: url('/fonts/Archer-Book.otf');
}

@font-face {
    font-family: 'Archer bold';
    src: url('/fonts/Archer-Bold.otf');
}

@font-face {
    font-family: 'lust rg';
    src: url('/fonts/Lust-Rg.woff');
}

@font-face {
    font-family: 'Neutra Display Thin Alt';
    src: url('/fonts/NeutraDisplay-Medium.woff');
}

html {
    --max-width: 1180px;
}

/* Header and footer */
.links-header a:link,
.links-header a:visited,
.links-footer a:link,
.links-footer a:visited {
    color: #fff;
    font-size: 15px;
    text-decoration: none;
}

.links-header a:hover,
.links-footer a:hover {
    color: #5cb8b2;
}

.links-footer > :first-child {
    margin-left: 8px;
}

.main-logo-img {
    height: 56px;
}

#navbar-top li .nav-link {
    border-left: 1px solid #5CB8B2;
    font-family: 'Neutra Display Thin Alt', sans-serif !important;
    text-transform: uppercase;
    font-size: 13px;
    color: #333;
    padding-left: 10px;
}

@media (max-width: 988px) {
    #navbar-top li .nav-link {
        border-left: 0px solid transparent;
        margin-left: 0;
        padding-left: 0;
    }
}

.site-footer a {
    margin: 0 15px;
}

.main-site {
    max-width: var(--max-width);
    font-family: 'Archer book', sans-serif;
    color: #404040;
}

    .main-site h1 {
        margin-top: 0.67em;
        margin-bottom: 0.67em;
    }

    .main-site a:link,
    .main-site a:visited {
        color: #1a1a1a;
        text-decoration: none;
    }

    .main-site a:hover {
        color: #5cb8b2;
    }

.entry-title {
    font-family: 'lust rg', serif;
    text-align: center;
    max-width: 80%;
    padding-top: 75px;
    color: #222;
    line-height: 50px;
    letter-spacing: 2px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}

.main-site h1:after {
    content: '';
    display: block;
    height: 3px;
    width: 90px;
    margin: 10px auto;
    background: #5CB8B2;
}

.entry-content p {
    font-size: clamp(1rem, 5vw, 1.3rem);
    color: #000 !important;
}

.entry-content ol {
    margin: 2em 0;
    margin-left: 30px;
    padding: 0;
    font-size: clamp(1rem, 5vw, 1.3rem);
}

.entry-content li {
    margin-bottom: 0.5em;
    margin-left: 10px;
}

.white {
    color: #fff;
}

.btn-branches, .btn-branches:visited {
    max-width: 467px;
    width: 90%;
    margin: 12px auto 0;
    background: #56BAB7;
    color: #fff !important;
    display: block;
    font-size: 21px;
    padding: 7px 0;
    text-align: center;
    border-radius: 50px;
}

    .btn-branches:hover {
        background: #1f6e6c;
    }

#cookieConsent .cookiePrivacy {
    font-weight: 550;
    margin: 0px 20px 0px 15px;
    color: rgb(68,68,68);
    text-decoration: none;
}
