@page
@model Disable2faModel
@{
    ViewData["Title"] = P["Disable two-factor authentication (2FA)"];
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>@P["This action only disables 2FA."]</strong>
    </p>
    <p>
     @P["Disabling 2FA does not change the keys used in authenticator apps. If you wish to change the key used in an authenticator app you should <a href=\"{0}\">reset your authenticator keys.</a>", Url.Page("ResetAuhenticator") ?? "#"]
    </p>
</div>

<div>
    <form method="post">
        <button class="btn btn-danger" type="submit">@P["Disable 2FA"]</button>
    </form>
</div>
