@page
@model InstitutoAdecco.Pages.ContactoModel
@{
    ViewData["Title"] = "Contacto";
    ViewData["Template"] = "Contact";
}
<div class="container-fluid contactTop">
    <div class="row">
        <div class="col">
            <h1 class="white text-center">Contacto</h1>
        </div>
    </div>
</div>

<div class="container contactMain">
    <div class="row">
        <div class="col-12 col-md">

            <p class="mb-0 module come-in">Contacto:</p>
            <h4 class="mb-0 module come-in">Rellena el formulario y en breve nos pondremos en contacto contigo vía email.</h4>

            <hr class="module come-in" />

            <p class="mb-0 module come-in">O sí lo prefieres márcanos:</p>
            <h4 class="header-title-section mt-1 mb-0 module come-in rvfs-4" data-rvfs="4">800 890 0173</h4>
            <p class="module come-in a3a3a3">Lunes a viernes de 9:00 - 18:00h</p>

            <hr class="module come-in" />

            <div class="button-row">
                <p class="text-center m-0">Si eres aspirante te invitamos a contactarnos en el siguiente link:</p>
                <a href="/adecco-te-escucha/" class="mediumSize btn-branches">¿Eres aspirante?</a>
            </div>
        </div>

        <div class="col-12 col-md">
            <iframe src="https://mktlatam.adecco.com/l/504941/2021-09-30/j8p9t6" height="550" type="text/html" frameborder="0" allowTransparency="true"></iframe>
        </div>
    </div>
</div>