#cookieConsent {
    position: fixed;
    bottom: 0;
    font-size: 15px;
    padding: 12px 10px;
    text-align: center;
    font-weight: 300;
    box-shadow: 0 -1px 10px 0 rgba(172, 171, 171, 0.3);
    width: 100%;
    z-index: 10000;
    background: white;
}

    #cookieConsent .cookieButton {
        color: rgb(255,255,255);
        background-color: rgb(10,0,0);
        font-size: 13px;
        font-weight: 400;
        line-height: 1;
        margin-top: 5px;
        padding: 9px 12px;
        display: inline-block;
        margin-left: 5px;
        text-decoration: none;
    }
