<footer class="site-footer">
    <div class="container page-center links-footer">
        <a asp-page="/Index"><img src="~/images/adeccoinstitute-wh.png" width="234"></a>
        <a asp-page="/PoliticaDeCookies">Política de Cookies</a>
        <a asp-page="/AvisoDePrivacidad">Aviso de Privacidad</a>
        <a asp-page="/TerminosYCondiciones">Términos y Condiciones</a>
    </div>
</footer>