@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = P["Forgot password confirmation"];
}

<div class="container mt-5">
    <h1>@ViewData["Title"]</h1>
    <p>
        @P["Please check your email to reset your password."]
    </p>
</div>