@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = P["Reset password confirmation"];
}

<div class="container mt-5">
    <h1>@ViewData["Title"]</h1>
    <p>
        @P["Your password has been reset. Please <a href=\"{0}\">click here to log in</a>.", Url.Page("./Login") ?? "#"]
    </p>
</div>